:root {
  --full-screen-height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.main {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.cust-login {
  height: var(--full-screen-height);
}

.cust-full-height {
  height: 90%;
}

.cust-small-icon-image-dim {
  height: 1em;
  width: 1em;
}

.cust-threequarter-height {
  height: 75%;
  width: 75vh;
  max-width: 100%;
}

.cust-display-text {
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cust-display-text p {
  color: #252d40;
  margin: 0;
}

.cust-display-text h3 {
  font-size: 1.25rem;
  color: #252d40;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}

.cust-display-text h2 {
  color: #252d40;
  text-align: center;
  margin: 0;
  font-weight: 100;
}
.cust-display-text h1 {
  font-size: 7rem;
  color: #1a202d;
  margin: 0;
  text-align: center;
  font-weight: 900;
  text-shadow: 1px 1px 5px #ecf0f1;
}

.cust-display-text2 {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  text-justify: inter-word;
}

.cust-display-text2 h1 {
  font-weight: 900;
  color: #252d40;
}
.cust-display-text2 p {
  color: #252d40;
}
.main-pic {
  width: 90%;
  height: 90%;
  min-width: 300px;
  max-width: 600px;
}

.main-pic-section {
  margin-top: 2em;
}

#app-icon {
  width: 25%;
  height: 25%;
}

#log-in-subtitle {
  padding-top: 2.2em;
  text-align: left;
}

.login-card p {
  font-size: 0.5em;
}

.navbar {
  height: 64px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 4em !important;
  z-index: 1;
  box-shadow: 1px 1px 10px #65e7bc;
}
.nav-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav-item-li:hover {
  transform: scale(1.1);
  transition: all 0.07s ease;
}
.nav-logo {
  width: 40%;
  justify-content: flex-start;
  padding-left: 1em;
}

.nav-logo img {
  height: 64px;
}

.loginOAuth-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.about-section-container,
.m-statement-container {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: all 0.07s ease;
}

.feature-item {
  height: 100%;
}

.ms-img-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.m-state-content-section {
  margin-top: 10em;
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.ms-img {
  height: 90%;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
}

#feature-font {
  font-size: 2em;
  justify-content: center;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 2em;
  font-weight: 700;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  /*color: #252d40;*/
}

#feature-paragraphs {
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
}

.feature-img {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  display: block;
}

.feature-img-container {
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.feature-img-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: black;
  font-size: 1rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  font-weight: 800;
}
.about-team {
  height: 50vh;
}

.footer-main {
  height: 60px;
  background-color: #252d40;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.footer-text-section1,
.footer-text-section2 p {
  color: white;
  font-size: 0.85rem;
}

.footer-text-section1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1em;
}

.footer-text-section2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1em;
  width: 60%;
}

.acc-set-up-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.acc-set-up-container h2 {
  font-size: 1.75rem;
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 1.5em;
}

.set-up-main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  max-width: 600px;
  min-width: 350px;
  max-height: 600px;
  min-height: 600px;
  box-shadow: beige;
}

.set-up-nav {
  height: 64px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 1.5em;
}

.buttons-section {
  max-height: 400px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  overflow-y: scroll;
  margin-top: 4em;
}

.option-buttons {
  height: 8rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.set-up-background {
  background: url(https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80)
    bottom center;
  background-size: cover;
  height: var(--full-screen-height);
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  align-items: flex-end;
  overflow-y: hidden;
}

.chat-main {
  height: var(--full-screen-height);
  padding: 0 !important;
  overflow-y: hidden;
  width: var(--full-screen-width);
  display: flex;
  flex-direction: row;
}

.convo {
  width: 1024px;
}

.chat-convo-list {
  height: 100%;
  width: 30%;
  background-color: #ecf0f1;
  overflow-y: hidden;
  z-index: 1;
  top: 0;
  left: 0;

  transition: 0.5s;
}

.active {
  width: 0;
  transition: 0.5s;
}

.chat-text-pane-main {
  height: var(--full-screen-height);
  background-color: #f1f0ed;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100%;
}
.chat-text-pane-input-section {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 7%;
  margin-top: 2em;
  z-index: 1;
  padding-left: 32px !important;
  padding-right: 32px !important;
  margin-bottom: 2em;
  padding-bottom: 1.25em;
  align-items: center;
}

.chat-text-pane-input-section input {
  margin-right: 1em;
}

.chat-text-msg-section {
  height: 80%;
  max-height: 750px;
  overflow-y: scroll;
  margin-top: 1em;
  padding-right: 32px !important;
  padding-left: 32px !important;
}
.user-profile-bar {
  background-color: #4781e9;
  width: 15%;
}

.chat-convo-list-header,
.chat-text-pane-header {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75em;
}

.chat-text-pane-header {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75em;
}

.chat-convo-list-header-btn-section,
.chat-text-pane-btn-section,
.chat-input-send-btn-section {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
}
.chat-convo-list-header h2,
.chat-text-pane-header h2 {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  font-weight: 800;
}

.new-match-btn,
.meet-face-btn,
.send-btn {
  height: 3em;
  font-size: 1rem;
  min-width: 100px;
}

.chat-contact-cards {
  height: 12%;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  justify-content: center;
  background-color: white;
  margin-right: 16px;
  margin-left: 16px;
}

.chat-contact-thumbnail-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-contact-thumbnail-btn {
  width: 50px;
  height: 50px;
  text-align: center;
}
.chat-contact-cards input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-msg-content {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 80%;
}

.last-msg-content p {
  margin: 0 !important;
  font-size: 0.85rem;
  color: #7f8c8d;
}
.contact-search-bar-section {
  display: flex;
  margin-top: 1em;
}

.search-bar {
  width: 100%;
  margin-top: 0.5em;
  background-color: white;
  border: none;
}

.bubble-sender {
  align-items: flex-end;
  margin-top: 0 !important;
  margin-left: 25%;
  max-width: 75%;
  justify-content: flex-end;
  display: flex;
}

.bubble-sender .bubble-text {
  position: relative;
}

.bubble-income {
  position: relative;
  align-items: flex-start;
  margin-top: 0 !important;
  margin-right: 25%;
  max-width: 75%;
  justify-content: flex-start;
  display: flex;
}
.bubble-text {
  display: inline-block;
}
.msg-content {
  font-size: 0.9rem;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-top: 6px;
  margin-bottom: 6px;
}
.msg-date {
  font-size: 0.75rem;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-top: 6px;
  margin-bottom: 6px;
}
/**
Styling for Mobile
**/
@media only screen and (max-width: 768px) {
  .cust-login {
    display: flex;
    flex-direction: column;
  }
  .cust-display-text h1 {
    font-size: 4rem;
    font-weight: 900;
  }

  .cust-display-text h3 {
    text-align: center;
  }
  .cust-display-text {
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  .main-pic {
    width: 90%;
    height: 90%;
    min-width: 300px;
    max-width: 600px;
  }

  .login-card {
    margin-top: 0;
    padding-left: 32px;
  }

  .cust-threequarter-height {
    height: 85%;
    width: 80%;
    background-color: white !important;
  }

  .nav-items {
    justify-content: space-between !important;
    padding-right: 1em;
  }

  .nav-items-li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 0.85rem;
    text-align: center;
  }

  .chat-convo-list-header,
  .chat-text-pane-header {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    align-items: baseline;
  }

  .chat-text-msg-section {
    height: calc(var(--full-screen-height) - 175px);
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  .chat-text-pane-input-section {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }

  .chat-main {
    overflow-y: hidden;
    overflow-x: hidden;
    width: var(--full-screen-width);
  }

  .chat-convo-list {
    width: 100%;
  }

  .active {
    width: 0;
    transition: 0.5s;
  }

  .m-state-content-section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .cust-display-text2 {
    text-align: center;
    text-justify: inter-word;
  }

  .nav-item-li {
    font-size: 0.7rem;
    
  }
}

@media only screen and (max-width: 320px) {
  .chat-text-msg-section {
    height: calc(100% - 175px);
    max-height: 360px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}

.w3-theme-l5 {
  color: #000 !important;
  background-color: #fdfffe !important;
}
.w3-theme-l4 {
  color: #000 !important;
  background-color: #f9fefc !important;
}
.w3-theme-l3 {
  color: #000 !important;
  background-color: #f3fdfa !important;
}
.w3-theme-l2 {
  color: #000 !important;
  background-color: #ecfcf7 !important;
}
.w3-theme-l1 {
  color: #000 !important;
  background-color: #e6fbf4 !important;
}
.w3-theme-d1 {
  color: #000 !important;
  background-color: #b7f4e0 !important;
}
.w3-theme-d2 {
  color: #000 !important;
  background-color: #8eedce !important;
}
.w3-theme-d3 {
  color: #000 !important;
  background-color: #65e7bc !important;
}
.w3-theme-d4 {
  color: #000 !important;
  background-color: #3ce1aa !important;
}
.w3-theme-d5 {
  color: #fff !important;
  background-color: #20cd93 !important;
}

.w3-theme-light {
  color: #000 !important;
  background-color: #fdfffe !important;
}
.w3-theme-dark {
  color: #fff !important;
  background-color: #20cd93 !important;
}
.w3-theme-action {
  color: #fff !important;
  background-color: #20cd93 !important;
}

.w3-theme2 {
  color: #fff !important;
  background-color: #252d40 !important;
}
.w3-theme {
  color: #000 !important;
  background-color: #dffaf1 !important;
}
.w3-text-theme {
  color: #dffaf1 !important;
}
.w3-border-theme {
  border-color: #dffaf1 !important;
}

.w3-hover-theme:hover {
  color: #000 !important;
  background-color: #20cd93 !important;
}
.w3-hover-text-theme:hover {
  color: #20cd93!important;
}
.w3-hover-border-theme:hover {
  border-color: #dffaf1 !important;
}
