:root {
    --full-screen-height: 100vh
}

.cust-login {
    height: var(--full-screen-height);
}

.cust-full-height {
    height: 100%
}

.cust-small-icon-image-dim {
    height: 1em;
    width: 1em
}

.cust-threequarter-height {
    height: 75%
}